.nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid gray;
    padding: 0 30px;
    .title {
        font-weight: 500;
        font-size: 40px;
        font-family: "Copperplate", fantasy;
        padding: 0 20px;
    }
    .sub-heads {
        min-width: 155px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        gap: 20px;
        div {
            cursor: pointer;
        }
        .score {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media (max-width: 557px) {
    .nav-head {
        height: 11vw;
        padding: 0 5vw;
        .title {
            font-size: 7.5vw;
            padding: 0 4vw;
        }
        .sub-heads {
            min-width: 28vw;
            font-size: 4vw;
            gap: 4vw;
        }
    }
}